.form{
    display: flex;
    flex-direction: column;
    
}
.form select{
    padding: 0.3rem;
    margin: 0.3rem;
}
.form label{
    font-size: 1.5rem;
}
.divButtons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.divResults{
    padding: 1rem;
}